{% extends "layouts/main.html" %}
{% block body %}
<h1 id="title">New Announcement</h1>

<form class="form" action="/announcements" method="POST">
	<div class="form-group">
	    <label for="exampleInputEmail1">Title</label>
	    <input class="form-control" type="text" name="title" id="title" placeholder="Hello New Tradecrafters!">
	  </div>


	Body (Markdown Supported) : 
	<textarea class="form-control" id="body" name="body" rows="10"></textarea>
	<button class="btn btn-success">Submit</button>
</form>
{% endblock %}