{% extends "layouts/main.html" %}
{% block body %}
<h1>Discussion Page</h1>


<div class="well">
	<div class="row">

		<div class="col-sm-2">
			<div class="vote"  id="new_{{data._id}}">
				<span class="h5 up up_{{data._id}} {% if data.votes[data.votes.indexOf(user._id)] %}text-primary{% endif %}"><span class="glyphicon glyphicon-arrow-up"></span></span> <br>
				<span class="h5 down down_{{data._id}} {% if data.downvote %}text-danger{% endif %}"><span class="glyphicon glyphicon-arrow-down"></span></span>
			</div>
			<div class="h4 well count count_{{data._id}}">{{data.upvotes - data.downvotes}}</div>
		</div>
		<div class="col-sm-10">
			<div class="h1" class="community_title">{{data.title}} {% if author %} By {{data.author}} {% endif %}</div>
		</div>
	</div>
	<hr class="clear">
	<p>{{data.description}}</p>
</div>

<div class="container">
	{% for comment in data.comments %}
	<div class="row">
		<div class="comment_title h5">{{comment.title}} by {{comment.submitter.displayName}}</div>
		<div class="comment_body">{{comment.comment}}</div>
	</div>
	{% endfor %}
</div>

<form class="form well" action="{{data._id}}/comment" method="POST">
	<h5>New Comment</h5>
	<label for="title">Comment Title</label><input type="text" id="title" name="title" class="form-control">
	<label for="body">Comment</label><textarea class="textarea form-control" rows="5" name="body" id="body"></textarea>
	<button class="btn btn-primary">Submit</button>
</form>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/javascripts/community.js"></script>
{% endblock %}
