<h1>Discussion Page</h1>

<div class="well">
	<div class="row">

		<div class="col-sm-1">
			<div class="vote">
				<span class="h3 up"><span class="glyphicon glyphicon-arrow-up"></span></span><br>
				<span class="h3 down"><span class="glyphicon glyphicon-arrow-down"></span></span>
			</div>
			<div class="h3 count">{{votes}}</div>
		</div>
		<div class="col-sm-11">
			<div class="h1" class="community_title">{{title}}</div>
		</div>
	</div>
	<hr class="clear">
	<p>{{description}}</p>
</div>

<script type="text/javascript" src="/javascripts/community.js"></script>