            <h1>Curriculum</h1>
            <table class="table">
                <tr class="active">
                    <td><strong><span class="label label-primary">TC16</span></strong></td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                    <td>10</td>
                    <td>11</td>
                    <td>12</td>
                    <td>13</td>
                    <td>14</td>
                    <td>15</td>
                    <td>16</td>
                </tr>
                <tr class="success">
                    <td><strong>TC13</strong></td>
                    <td>13</td>
                    <td>14</td>
                    <td>15</td>
                    <td>16</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                    <td>10</td>
                    <td>11</td>
                    <td>12</td>
                </tr>
                <tr class="info">
                    <td><strong><span class="label label-info">TC14</span></strong></td>
                    <td>9</td>
                    <td>10</td>
                    <td>11</td>
                    <td>12</td>
                    <td>13</td>
                    <td>14</td>
                    <td>15</td>
                    <td>16</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                </tr>
                <tr class="warning">
                    <td><strong><span class="label label-warning">TC15</span></strong></td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                    <td>10</td>
                    <td>11</td>
                    <td>12</td>
                    <td>13</td>
                    <td>14</td>
                    <td>15</td>
                    <td>16</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td><strong>Monday Liz</strong></td>
                    <td>
                        <strong>Cohorts:</strong>
                        <span class="label label-warning">TC15</span>
                        <br>
                        <strong>Lecture:</strong><br>
                        <a href="node_fs.html">Node.js FS / Async</a>
                        <br>
                        <strong>Assignments Due:</strong>
                        <br>
                        <a href="electronic_life.html">Electronic Life</a>
                    </td>
                    <td>
                        <strong>Cohorts:</strong>
                        <span class="label label-warning">TC15</span>
                        <br>
                        <strong>Lecture:</strong><br>
                        <a href="web_stack.html">Node.js Hacks & The Web Stack</a>
                        <br>
                        <strong>Assignments Due:</strong>
                        <br>
                        <a href="learnyounode.html">LearnYouNode Section 3</a>
                    </td>
                    <td>   </td>
                    <td>   </td>
                    <td>   </td>
                    <td>   </td>
                    <td>
                        <strong>Cohorts:</strong>
                        <span class="label label-primary">TC16</span>, <span class="label label-success">TC17</span>
                        <br>
                        <strong>Lecture:</strong><br>
                        <a href="html_css.html">HTML/CSS</a>
                    </td>
                    <td>
                        <strong>Cohorts:</strong>
                        <span class="label label-primary">TC16</span>, <span class="label label-success">TC17</span>
                        <br>
                        <strong>Lecture:</strong><br>
                        <a href="js_101.html">Basic JS</a>
                        <br>
                        <strong>Assignments Due:</strong>
                        <br>
                        <a href="layouts_for_apps.html">Layouts for Apps</a>
                    </td>
                    <td>
                        <strong>Cohorts:</strong>
                        <span class="label label-primary">TC16</span>, <span class="label label-success">TC17</span>
                        <br>
                        <strong>Lecture:</strong><br>
                        <a href="node_fs.html">Node.js FS / Async</a>
                        <br>
                        <strong>Assignments Due:</strong>
                        <br>
                        <a href="electronic_life.html">Electronic Life</a>
                    </td>
                    <td>
                        <strong>Cohorts:</strong>
                        <span class="label label-primary">TC16</span>, <span class="label label-success">TC17</span>
                        <br>
                        <strong>Lecture:</strong><br>
                        <a href="web_stack.html">Node.js Hacks & The Web Stack</a>
                        <br>
                        <strong>Assignments Due:</strong>
                        <br>
                        <a href="learnyounode.html">LearnYouNode Section 3</a>
                    </td>
                    <td>    </td>
                    <td>    </td>
                    <td>    </td>
                    <td>    </td>
                    <td>
                        <strong>Cohorts:</strong>
                        <span class="label label-warning">TC15</span>, <span class="label label-info">TC14</span>
                        <br>
                        <strong>Lecture:</strong><br>
                        <a href="html_css.html">HTML/CSS</a>
                    </td>
                    <td>
                        <strong>Cohorts:</strong>
                        <span class="label label-warning">TC15</span>
                        <br>
                        <strong>Lecture:</strong><br>
                        <a href="js_101.html">Basic JS</a>
                        <br>
                        <strong>Assignments Due:</strong>
                        <br>
                        <a href="layouts_for_apps.html">Layouts for Apps</a>
                    </td>
                </tr>
                <tr>
                    <td><strong>Tuesday Liz</strong></td>
                    <td>
                        <strong>Cohorts:</strong>
                        <span class="label label-warning">TC15</span>
                        <br>
                        <strong>Lecture:</strong><br>
                        <a href="node_modules.html">Node.js Modules</a>
                        <br>
                        <strong>Assignments Due:</strong>
                        <br>
                        <a href="learnyounode.html">LearnYouNode Section 1</a>
                    </td>
                    <td>
                        <strong>Cohorts:</strong>
                        <span class="label label-warning">TC15</span>
                        <br>
                        <strong>Lecture:</strong><br>
                        <a href="web_stack.html">Postgres, SQL, and Data Modeling</a>
                    </td>
                    <td>    </td>
                    <td>    </td>
                    <td>    </td>
                    <td>    </td>
                    <td>
                        <strong>Cohorts:</strong>
                        <span class="label label-primary">TC16</span>, <span class="label label-success">TC17</span>
                        <br>
                        <strong>Lecture:</strong><br>
                        <a href="git_github_pages.html">Git & Github / Github Pages</a>
                        <br>
                        <strong>Assignments Due:</strong><br>
                        <a href="personal_brand.html">Personal Brand Site</a>
                    </td>
                    <td>
                        <strong>Cohorts:</strong>
                        <span class="label label-primary">TC16</span>, <span class="label label-success">TC17</span>
                        <br>
                        <strong>Lecture:</strong><br>
                        <a href="dom_manipulation.html">DOM Manipulation</a>
                        <br>
                        <strong>Assignments Due:</strong><br>
                        <a href="basic_js.html">Eloquent JS</a>
                    </td>
                    <td>
                        <strong>Cohorts:</strong>
                        <span class="label label-primary">TC16</span>, <span class="label label-success">TC17</span>
                        <br>
                        <strong>Lecture:</strong><br>
                        <a href="node_modules.html">Node.js Modules</a>
                        <br>
                        <strong>Assignments Due:</strong>
                        <br>
                        <a href="learnyounode.html">LearnYouNode Section 1</a>
                    </td>
                    <td>
                        <strong>Cohorts:</strong>
                        <span class="label label-primary">TC16</span>, <span class="label label-success">TC17</span>
                        <br>
                        <strong>Lecture:</strong><br>
                        <a href="web_stack.html">Postgres, SQL, and Data Modeling</a>
                    </td>
                    <td>    </td>
                    <td>    </td>
                    <td>    </td>
                    <td>    </td>
                    <td>
                        <strong>Cohorts:</strong>
                        <span class="label label-warning">TC15</span>
                        <br>
                        <strong>Lecture:</strong><br>
                        <a href="git_github_pages.html">Git & Github / Github Pages</a>
                        <br>
                        <strong>Assignments Due:</strong><br>
                        <a href="personal_brand.html">Personal Brand Site</a>
                    </td>
                    <td>
                        <strong>Cohorts:</strong>
                        <span class="label label-warning">TC15</span>
                        <br>
                        <strong>Lecture:</strong><br>
                        <a href="dom_manipulation.html">DOM Manipulation</a>
                        <br>
                        <strong>Assignments Due:</strong><br>
                        <a href="basic_js.html">Eloquent JS</a>
                    </td>
                </tr>
                <tr>
                    <td><strong>Thursday Liz</strong></td>
                    <td>
                        <strong>Cohorts:</strong>
                        <span class="label label-warning">TC15</span>
                        <br>
                        <strong>Lecture:</strong><br>
                        <a href="node_server.html">Node.js Server</a>
                        <br>
                        <strong>Assignments Due:</strong>
                        <br>
                        <a href="learnyounode.html">LearnYouNode Section 2</a>
                    </td>
                    <td>
                        <strong>Cohorts:</strong>
                        <span class="label label-warning">TC15</span>
                        <br>
                        <strong>Lecture:</strong><br>
                        <a href="apis_mailer.html">APIs, Mailer and Security</a>
                    </td>
                    <td>    </td>
                    <td>    </td>
                    <td>    </td>
                    <td>    </td>
                    <td>
                        <strong>Cohorts:</strong>
                        <span class="label label-primary">TC16</span>, <span class="label label-success">TC17</span>
                        <br>
                        <strong>Lecture:</strong><br>
                        <a href="html_forms.html">HTML Forms</a>
                        <br>
                        <strong>Assignments Due:</strong><br>
                        <a href="landing_pages.html">Landing Pages</a>
                    </td>
                    <td>
                        <strong>Cohorts:</strong>
                        <span class="label label-primary">TC16</span>, <span class="label label-success">TC17</span>
                        <br>
                        <strong>Lecture:</strong><br>
                        <a href="js_mvc.html">JS MVC</a>
                        <br>
                        <strong>Assignments Due:</strong><br>
                        <a href="dom_exercises.html">DOM Exercises</a>
                    </td>
                    <td>
                        <strong>Cohorts:</strong>
                        <span class="label label-primary">TC16</span>, <span class="label label-success">TC17</span>
                        <br>
                        <strong>Lecture:</strong><br>
                        <a href="node_server.html">Node.js Server</a>
                        <br>
                        <strong>Assignments Due:</strong>
                        <br>
                        <a href="learnyounode.html">LearnYouNode Section 2</a>
                    </td>
                    <td>
                        <strong>Cohorts:</strong>
                        <span class="label label-primary">TC16</span>, <span class="label label-success">TC17</span>
                        <br>
                        <strong>Lecture:</strong><br>
                        <a href="apis_mailer.html">APIs, Mailer and Security</a>
                    </td>
                    <td>    </td>
                    <td>    </td>
                    <td>    </td>
                    <td>    </td>
                    <td>
                        <strong>Cohorts:</strong>
                        <span class="label label-warning">TC15</span>
                        <br>
                        <strong>Lecture:</strong><br>
                        <a href="html_forms.html">HTML Forms</a>
                        <br>
                        <strong>Assignments Due:</strong><br>
                        <a href="landing_pages.html">Landing Pages</a>
                    </td>
                    <td>
                        <strong>Cohorts:</strong>
                        <span class="label label-warning">TC15</span>
                        <br>
                        <strong>Lecture:</strong><br>
                        <a href="js_mvc.html">JS MVC</a>
                        <br>
                        <strong>Assignments Due:</strong><br>
                        <a href="dom_exercises.html">DOM Exercises</a>
                    </td>
                </tr>
                <tr>
                    <td><strong>Monday Janardan</strong></td>
                    <td>    </td>
                    <td>    </td>
                    <td>
                        <strong>Cohorts:</strong>
                        <span class="label label-warning">TC15</span>, <span class="label label-primary">TC16</span>
                        <br>
                        <strong>Lecture:</strong>
                        <a href="xcode_tour.html">XCode Tour</a>
                        <strong>Assignments Due:</strong><br>
                        Start Treehouse
                    </td>
                    <td>
                        <strong>Cohorts:</strong>
                        <span class="label label-warning">TC15</span>, <span class="label label-primary">TC16</span>
                        <br>
                        <strong>Lecture:</strong>
                        <a href="xcode_tour.html">XCode Tour</a>
                        <strong>Assignments Due:</strong><br>
                        More Treehouse
                    </td>
                    <td>
                        <strong>Cohorts:</strong>
                        <span class="label label-warning">TC15</span>, <span class="label label-primary">TC16</span>
                        <br>
                        <strong>Lecture:</strong>
                        <a href="xcode_tour.html">XCode Tour</a>
                        <strong>Assignments Due:</strong><br>
                        Start Messagehub
                    </td>
                    <td>
                        <strong>Cohorts:</strong>
                        <span class="label label-warning">TC15</span>, <span class="label label-primary">TC16</span>
                        <br>
                        <strong>Lecture:</strong>
                        <a href="xcode_tour.html">XCode Tour</a>
                        <strong>Assignments Due:</strong><br>
                        More Messagehub
                    </td>
                    <td>    </td>
                    <td>    </td>
                    <td>    </td>
                    <td>    </td>
                    <td>
                        <strong>Cohorts:</strong>
                        <span class="label label-success">TC17</span>, <span class="label label-info">TC18</span>
                        <br>
                        <strong>Lecture:</strong>
                        <a href="xcode_tour.html">XCode Tour</a>
                        <strong>Assignments Due:</strong><br>
                        Start Treehouse
                    </td>
                    <td>
                        <strong>Cohorts:</strong>
                        <span class="label label-success">TC17</span>, <span class="label label-info">TC18</span>
                        <br>
                        <strong>Lecture:</strong>
                        <a href="xcode_tour.html">XCode Tour</a>
                        <strong>Assignments Due:</strong><br>
                        More Treehouse
                    </td>
                    <td>
                        <strong>Cohorts:</strong>
                        <span class="label label-success">TC17</span>, <span class="label label-info">TC18</span>
                        <br>
                        <strong>Lecture:</strong>
                        <a href="xcode_tour.html">XCode Tour</a>
                        <strong>Assignments Due:</strong><br>
                        Start Messagehub
                    </td>
                    <td>
                        <strong>Cohorts:</strong>
                        <span class="label label-success">TC17</span>, <span class="label label-info">TC18</span>
                        <br>
                        <strong>Lecture:</strong>
                        <a href="xcode_tour.html">XCode Tour</a>
                        <strong>Assignments Due:</strong><br>
                        More Messagehub
                    </td>
                    <td>    </td>
                    <td>    </td>
                </tr>
                <tr>
                    <td><strong>Tuesday Janardan</strong></td>
                    <td>    </td>
                    <td>    </td>
                    <td>
                        <strong>Cohorts:</strong>
                        <span class="label label-warning">TC15</span>, <span class="label label-primary">TC16</span>
                        <br>
                        <strong>Lecture:</strong>
                        <a href="xcode_tour.html">XCode Teaching</a>
                        <strong>Assignments Due:</strong><br>
                        More Treehouse
                    </td>
                    <td>
                        <strong>Cohorts:</strong>
                        <span class="label label-warning">TC15</span>, <span class="label label-primary">TC16</span>
                        <br>
                        <strong>Lecture:</strong>
                        <a href="xcode_tour.html">XCode Tour</a>
                        <strong>Assignments Due:</strong><br>
                        More Treehouse
                    </td>
                    <td>
                        <strong>Cohorts:</strong>
                        <span class="label label-warning">TC15</span>, <span class="label label-primary">TC16</span>
                        <br>
                        <strong>Lecture:</strong>
                        <a href="xcode_tour.html">XCode Tour</a>
                        <strong>Assignments Due:</strong><br>
                        More Messagehub
                    </td>
                    <td>
                        <strong>Cohorts:</strong>
                        <span class="label label-warning">TC15</span>, <span class="label label-primary">TC16</span>
                        <br>
                        <strong>Lecture:</strong>
                        <a href="xcode_tour.html">XCode Tour</a>
                        <strong>Assignments Due:</strong><br>
                        More Messagehub
                    </td>
                    <td>    </td>
                    <td>    </td>
                    <td>    </td>
                    <td>    </td>
                    <td>
                        <strong>Cohorts:</strong>
                        <span class="label label-success">TC17</span>, <span class="label label-info">TC18</span>
                        <br>
                        <strong>Lecture:</strong>
                        <a href="xcode_tour.html">XCode Teaching</a>
                        <strong>Assignments Due:</strong><br>
                        More Treehouse
                    </td>
                    <td>
                        <strong>Cohorts:</strong>
                        <span class="label label-success">TC17</span>, <span class="label label-info">TC18</span>
                        <br>
                        <strong>Lecture:</strong>
                        <a href="xcode_tour.html">XCode Tour</a>
                        <strong>Assignments Due:</strong><br>
                        More Treehouse
                    </td>
                    <td>
                        <strong>Cohorts:</strong>
                        <span class="label label-success">TC17</span>, <span class="label label-info">TC18</span>
                        <br>
                        <strong>Lecture:</strong>
                        <a href="xcode_tour.html">XCode Tour</a>
                        <strong>Assignments Due:</strong><br>
                        More Messagehub
                    </td>
                    <td>
                        <strong>Cohorts:</strong>
                        <span class="label label-success">TC17</span>, <span class="label label-info">TC18</span>
                        <br>
                        <strong>Lecture:</strong>
                        <a href="xcode_tour.html">XCode Tour</a>
                        <strong>Assignments Due:</strong><br>
                        More Messagehub
                    </td>
                    <td>    </td>
                    <td>    </td>
                </tr>
                <tr>
                    <td><strong>Thursday Janardan</strong></td>
                    <td>    </td>
                    <td>    </td>
                    <td>
                        <strong>Cohorts:</strong>
                        <span class="label label-warning">TC15</span>, <span class="label label-primary">TC16</span>
                        <br>
                        <strong>Lecture:</strong>
                        <a href="xcode_tour.html">XCode Teaching</a>
                        <strong>Assignments Due:</strong><br>
                        More Treehouse
                    </td>
                    <td>
                        <strong>Cohorts:</strong>
                        <span class="label label-warning">TC15</span>, <span class="label label-primary">TC16</span>
                        <br>
                        <strong>Lecture:</strong>
                        <a href="xcode_tour.html">XCode Tour</a>
                        <strong>Assignments Due:</strong><br>
                        Finish Treehouse
                    </td>
                    <td>
                        <strong>Cohorts:</strong>
                        <span class="label label-warning">TC15</span>, <span class="label label-primary">TC16</span>
                        <br>
                        <strong>Lecture:</strong>
                        <a href="xcode_tour.html">XCode Tour</a>
                        <strong>Assignments Due:</strong><br>
                        More Messagehub
                    </td>
                    <td>
                        <strong>Cohorts:</strong>
                        <span class="label label-success">TC17</span>, <span class="label label-info">TC18</span>
                        <br>
                        <strong>Lecture:</strong>
                        <a href="xcode_tour.html">XCode Tour</a>
                        <strong>Assignments Due:</strong><br>
                        More Messagehub
                    </td>
                    <td>    </td>
                    <td>    </td>
                    <td>    </td>
                    <td>    </td>
                    <td>
                        <strong>Cohorts:</strong>
                        <span class="label label-success">TC17</span>, <span class="label label-info">TC18</span>
                        <br>
                        <strong>Lecture:</strong>
                        <a href="xcode_tour.html">XCode Teaching</a>
                        <strong>Assignments Due:</strong><br>
                        More Treehouse
                    </td>
                    <td>
                        <strong>Cohorts:</strong>
                        <span class="label label-success">TC17</span>, <span class="label label-info">TC18</span>
                        <br>
                        <strong>Lecture:</strong>
                        <a href="xcode_tour.html">XCode Tour</a>
                        <strong>Assignments Due:</strong><br>
                        Finish Treehouse
                    </td>
                    <td>
                        <strong>Cohorts:</strong>
                        <span class="label label-success">TC17</span>, <span class="label label-info">TC18</span>
                        <br>
                        <strong>Lecture:</strong>
                        <a href="xcode_tour.html">XCode Tour</a>
                        <strong>Assignments Due:</strong><br>
                        More Messagehub
                    </td>
                    <td>
                        <strong>Cohorts:</strong>
                        <span class="label label-success">TC17</span>, <span class="label label-info">TC18</span>
                        <br>
                        <strong>Lecture:</strong>
                        <a href="xcode_tour.html">XCode Tour</a>
                        <strong>Assignments Due:</strong><br>
                        More Messagehub
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
            </table>

        </div>
