{% extends "layouts/main.html" %}

{% block body %}
<h1 id="title">Today</h1>
<div class="row">
<div class="col-md-4">
    {% if schedule_blocks.length > 0 %}
        <h2>Schedule</h2>
        {% for schedule_block in schedule_blocks %}
        <div class="schedule_block">
          <strong>{{schedule_block.time}}</strong> {{schedule_block.type}} : <a href="curriculum/{{schedule_block.curriculum_id}}">{{schedule_block.title}}</a>
        </div>
        {% endfor %}
    {% endif %}

    {% if events.length > 0 %}
        <h2>Community Events</h2>
        {% for event in events %}
          <div class="event">
            <strong>{{event.date}}</strong>
            {% if href %}
              <a href="{{event.href}}">
            {% endif %}
                 {{event.title}}
            {% if href %}
              </a>
            {% endif %}
             <label class="label label-{{event.label}}">{{event.type}}</label>
          </div>
        {% endfor %}
    {% endif %}

    {% if news.length > 0 %}
        <h2><a href="/news">News</a></h2>
        {% for new in news %}
        <div class="news">
          <a href="/news/{{new.id}}"><strong>{{new.title}}</strong></a> 
        </div>
        {% endfor %}
    {% endif %}

    {% if community.length > 0 %}
        <h2><a href="/community">Community Submissions</a></h2>
        {% for c in community %}
        <div class="community_link">
          <a href="{{c.link}}" target="_blank"><strong>{{c.title}}</strong></a> {{c.student_name}}
          <a href="{{c.tweet}}" target="_blank">
            <span class="social social-twitter" aria-hidden="true" style="font-size:24px;"></span>
          </a>
          <a href="{{c.facebook}}">
            <span class="social social-facebook" aria-hidden="true" style="font-size:24px;"></span>
          </a>
        </div>
        {% endfor %}
    {% endif %}
    
    
</div>
<div class="col-md-8">
    
    {% if feedback.length > 0 %}
        <h2>Feedback</h2>
        {% for f in feedback %}
        <div class="feedback">
          <strong><a href="#">{{f.date}} {{f.title}}</a> </strong><button class="btn btn-warning btn-xs">Didn't Attend</button>
        </div>
        {% endfor %}
    {% endif %}
    

    {% if assignments.length > 0 %}
        <h2>Your Assignments</h2>
        {% for assignment in assignments %}
        <div class="assignment well">
          <a href="#">{{assignment.title}}</a> <strong>Due {{assignment.due_date}}</strong><br>
          {{assignment.notes}}
          {% if assignment.notes %} <br>{% endif %}
          <button class="btn btn-primary btn-xs">Start</button> <button class="btn btn-success btn-xs">Turn In</button> <button class="btn btn-warning btn-xs">Help</button> <button class="btn btn-danger btn-xs">Abandon</button>
        </div>
        {% endfor %}
    {% endif %} 

    {% if assignments_materials.length > 0 %}
        <h2>Your Assignment Materials</h2>
        {% for am in assignments_materials %}
        <div class="materials">
        <a href="{{am.link}}">{{am.title}}</a>
        </div>
        {% endfor %}
    {% endif %}
    

</div>

<div class="col-md-8">

</div>
{% endblock %}
{% block javascript %}
<script type="text/javascript">
  $(document).ready(function() {
    $('#student_today_link').addClass("active");
  });
</script>
{% endblock %}