{% extends "layouts/main.html" %}
{% block body %}
<div class="col-sm-10" role="main">
  <h1>Tradecraft brand v2.0</h1>
  <p class="help-block">Last updated 6/10/2015</p>

  <hr>

  <section>

    <h2 id="logo">Logo</h2>
    <h3>Usage guidelines</h3>
    <p>
      There are 3 rules of logo usage:
      <ol>
        <li>Don't ever stretch the logo.</li>
        <li>Leave 15% whitespace all the way around.</li>
        <li>If you're using a raster version, only make it smaller &mdash;
        never bigger (or pixelation will occur and you'll make children cry). Use
        vector versions when you can to be safe.</li>
      </ol>
    </p>

    <h3>Download options</h3>
    <p>Use the most appropriate logo for the job. When in doubt, refer to rule #3 above.</p>

    <hr>
    <div class="clearfix title-block">
      <h4 class="bare pull-left">Full logo, light on dark (primary)</h4>
      <a href="#" class="pull-right showhide"><span class="glyphicon glyphicon-plus-sign"></span> Download Options</a>
      <br><img src="example.png" class="example-img">
    </div>

    <div class="showhide-container">
      <table cellpadding="0" cellspacing="0" border="1" class="logo-table">
        <thead class="panel panel-default">
          <tr class="panel-heading">
            <th></th>
            <th>PNG<br><span class="meta">Raster. Use for the <strong>web</strong>, or when transparency is required.</span></th>
            <th>SVG<br><span class="meta">Vector. Best option for the <strong>web</strong> <a href="http://caniuse.com/#feat=svg">when supported</a>.</span></th>
            <th>JPG<br><span class="meta">Raster. Use for the <strong>web</strong> only when required.</span></th>
            <th>GIF<br><span class="meta">Raster. Use for <strong>HTML email</strong> only.</span></th>
            <th>EPS<br><span class="meta">Vector. Use for any <strong>print</strong> collateral.</span></th>
          </tr>
        </thead>
        <tbody>
          <tr class="panel panel-default">
            <th class="panel-heading">Small<br><span class="meta">480px X ??</span></th>
            <td>
              <a href="#" class="png">Download</a>
            </td>
            <td>
              <a href="#" class="svg">Download</a>
            </td>
            <td>
              <a href="#" class="jpg">Download</a>
            </td>
            <td>
              <a href="#" class="gif">Download</a>
            </td>
            <td>
              <a href="#" class="eps">Download</a>
            </td>
          </tr>
          <tr class="panel panel-default">
            <th class="panel-heading">Medium<br><span class="meta">800px X ??</span></th>
            <td>
              <a href="#" class="png">Download</a>
            </td>
            <td class="disabled"></td>
            <td>
              <a href="#" class="jpg">Download</a>
            </td>
            <td>
              <a href="#" class="gif">Download</a>
            </td>
            <td class="disabled"></td>
          </tr>
          <tr class="panel panel-default">
            <th class="panel-heading">Large<br><span class="meta">1200px X ??</span></th>
            <td>
              <a href="#" class="png">Download</a>
            </td>
            <td class="disabled"></td>
            <td>
              <a href="#" class="jpg">Download</a>
            </td>
            <td>
              <a href="#" class="gif">Download</a>
            </td>
            <td class="disabled"></td>
          </tr>
          <tr class="panel panel-default">
            <th class="panel-heading">Website<br><span class="meta">??? X ???</span></th>
            <td>
              <a href="#" class="png">Download @1x</a><br>
              <a href="#" class="png">Download @2x</a>
            </td>
            <td>
              <a href="#" class="svg">Download</a>
            </td>
            <td class="disabled"></td>
            <td class="disabled"></td>
            <td class="disabled"></td>
          </tr>
          <tr class="panel panel-default">
            <th class="panel-heading">Twitter<br><span class="meta">???</span></th>
            <td>
              <a href="#" class="png">Download</a>
            </td>
            <td class="disabled"></td>
            <td>
              <a href="#" class="jpg">Download</a>
            </td>
            <td>
              <a href="#" class="gif">Download</a>
            </td>
            <td class="disabled"></td>
          </tr>
          <tr class="panel panel-default">
            <th class="panel-heading">LinkedIn<br><span class="meta">???</span></th>
            <td>
              <a href="#" class="png">Download</a>
            </td>
            <td class="disabled"></td>
            <td>
              <a href="#" class="jpg">Download</a>
            </td>
            <td>
              <a href="#" class="gif">Download</a>
            </td>
            <td class="disabled"></td>
          </tr>
          <tr class="panel panel-default">
            <th class="panel-heading">Facebook<br><span class="meta">???</span></th>
            <td>
              <a href="#" class="png">Download</a>
            </td>
            <td class="disabled"></td>
            <td>
              <a href="#" class="jpg">Download</a>
            </td>
            <td>
              <a href="#" class="gif">Download</a>
            </td>
            <td class="disabled"></td>
          </tr>
          <tr class="panel panel-default">
            <th class="panel-heading">Instagram<br><span class="meta">???</span></th>
            <td>
              <a href="#" class="png">Download</a>
            </td>
            <td class="disabled"></td>
            <td>
              <a href="#" class="jpg">Download</a>
            </td>
            <td>
              <a href="#" class="gif">Download</a>
            </td>
            <td class="disabled"></td>
          </tr>
          <tr class="panel panel-default">
            <th class="panel-heading">Favicon<br><span class="meta">16px X 16px <em>and</em> 32px X 32px for HiDPI</span></th>
            <td colspan="5">
              <a href="#" class="png">Download ICO</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <hr>
    <div class="clearfix title-block">
      <h4 class="bare pull-left">Logomark, light on dark (primary)</h4>
      <a href="#" class="pull-right showhide"><span class="glyphicon glyphicon-plus-sign"></span> Download Options</a>
      <br><img src="example.png" class="example-img">
    </div>

    <div class="showhide-container">
      <table cellpadding="0" cellspacing="0" border="1" class="logo-table">
        <thead class="panel panel-default">
          <tr class="panel-heading">
            <th></th>
            <th>PNG<br><span class="meta">Raster. Use for the <strong>web</strong>, or when transparency is required.</span></th>
            <th>SVG<br><span class="meta">Vector. Best option for the <strong>web</strong> <a href="http://caniuse.com/#feat=svg">when supported</a>.</span></th>
            <th>JPG<br><span class="meta">Raster. Use for the <strong>web</strong> only when required.</span></th>
            <th>GIF<br><span class="meta">Raster. Use for <strong>HTML email</strong> only.</span></th>
            <th>EPS<br><span class="meta">Vector. Use for any <strong>print</strong> collateral.</span></th>
          </tr>
        </thead>
        <tbody>
          <tr class="panel panel-default">
            <th class="panel-heading">Small<br><span class="meta">480px X ??</span></th>
            <td>
              <a href="#" class="png">Download</a>
            </td>
            <td>
              <a href="#" class="svg">Download</a>
            </td>
            <td>
              <a href="#" class="jpg">Download</a>
            </td>
            <td>
              <a href="#" class="gif">Download</a>
            </td>
            <td>
              <a href="#" class="eps">Download</a>
            </td>
          </tr>
          <tr class="panel panel-default">
            <th class="panel-heading">Medium<br><span class="meta">800px X ??</span></th>
            <td>
              <a href="#" class="png">Download</a>
            </td>
            <td class="disabled"></td>
            <td>
              <a href="#" class="jpg">Download</a>
            </td>
            <td>
              <a href="#" class="gif">Download</a>
            </td>
            <td class="disabled"></td>
          </tr>
          <tr class="panel panel-default">
            <th class="panel-heading">Large<br><span class="meta">1200px X ??</span></th>
            <td>
              <a href="#" class="png">Download</a>
            </td>
            <td class="disabled"></td>
            <td>
              <a href="#" class="jpg">Download</a>
            </td>
            <td>
              <a href="#" class="gif">Download</a>
            </td>
            <td class="disabled"></td>
          </tr>
          <tr class="panel panel-default">
            <th class="panel-heading">Website<br><span class="meta">??? X ???</span></th>
            <td>
              <a href="#" class="png">Download @1x</a><br>
              <a href="#" class="png">Download @2x</a>
            </td>
            <td>
              <a href="#" class="svg">Download</a>
            </td>
            <td class="disabled"></td>
            <td class="disabled"></td>
            <td class="disabled"></td>
          </tr>
          <tr class="panel panel-default">
            <th class="panel-heading">Twitter<br><span class="meta">???</span></th>
            <td>
              <a href="#" class="png">Download</a>
            </td>
            <td class="disabled"></td>
            <td>
              <a href="#" class="jpg">Download</a>
            </td>
            <td>
              <a href="#" class="gif">Download</a>
            </td>
            <td class="disabled"></td>
          </tr>
          <tr class="panel panel-default">
            <th class="panel-heading">LinkedIn<br><span class="meta">???</span></th>
            <td>
              <a href="#" class="png">Download</a>
            </td>
            <td class="disabled"></td>
            <td>
              <a href="#" class="jpg">Download</a>
            </td>
            <td>
              <a href="#" class="gif">Download</a>
            </td>
            <td class="disabled"></td>
          </tr>
          <tr class="panel panel-default">
            <th class="panel-heading">Facebook<br><span class="meta">???</span></th>
            <td>
              <a href="#" class="png">Download</a>
            </td>
            <td class="disabled"></td>
            <td>
              <a href="#" class="jpg">Download</a>
            </td>
            <td>
              <a href="#" class="gif">Download</a>
            </td>
            <td class="disabled"></td>
          </tr>
          <tr class="panel panel-default">
            <th class="panel-heading">Instagram<br><span class="meta">???</span></th>
            <td>
              <a href="#" class="png">Download</a>
            </td>
            <td class="disabled"></td>
            <td>
              <a href="#" class="jpg">Download</a>
            </td>
            <td>
              <a href="#" class="gif">Download</a>
            </td>
            <td class="disabled"></td>
          </tr>
          <tr class="panel panel-default">
            <th class="panel-heading">Favicon<br><span class="meta">16px X 16px <em>and</em> 32px X 32px for HiDPI</span></th>
            <td colspan="5">
              <a href="#" class="png">Download ICO</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <hr>
    <div class="clearfix title-block">
      <h4 class="bare pull-left">Stacked logo, light on dark</h4>
      <a href="#" class="pull-right showhide"><span class="glyphicon glyphicon-plus-sign"></span> Download Options</a>
      <br><img src="example.png" class="example-img">
    </div>

    <div class="showhide-container">
      <table cellpadding="0" cellspacing="0" border="1" class="logo-table">
        <thead class="panel panel-default">
          <tr class="panel-heading">
            <th></th>
            <th>PNG<br><span class="meta">Raster. Use for the <strong>web</strong>, or when transparency is required.</span></th>
            <th>SVG<br><span class="meta">Vector. Best option for the <strong>web</strong> <a href="http://caniuse.com/#feat=svg">when supported</a>.</span></th>
            <th>JPG<br><span class="meta">Raster. Use for the <strong>web</strong> only when required.</span></th>
            <th>GIF<br><span class="meta">Raster. Use for <strong>HTML email</strong> only.</span></th>
            <th>EPS<br><span class="meta">Vector. Use for any <strong>print</strong> collateral.</span></th>
          </tr>
        </thead>
        <tbody>
          <tr class="panel panel-default">
            <th class="panel-heading">Small<br><span class="meta">480px X ??</span></th>
            <td>
              <a href="#" class="png">Download</a>
            </td>
            <td>
              <a href="#" class="svg">Download</a>
            </td>
            <td>
              <a href="#" class="jpg">Download</a>
            </td>
            <td>
              <a href="#" class="gif">Download</a>
            </td>
            <td>
              <a href="#" class="eps">Download</a>
            </td>
          </tr>
          <tr class="panel panel-default">
            <th class="panel-heading">Medium<br><span class="meta">800px X ??</span></th>
            <td>
              <a href="#" class="png">Download</a>
            </td>
            <td class="disabled"></td>
            <td>
              <a href="#" class="jpg">Download</a>
            </td>
            <td>
              <a href="#" class="gif">Download</a>
            </td>
            <td class="disabled"></td>
          </tr>
          <tr class="panel panel-default">
            <th class="panel-heading">Large<br><span class="meta">1200px X ??</span></th>
            <td>
              <a href="#" class="png">Download</a>
            </td>
            <td class="disabled"></td>
            <td>
              <a href="#" class="jpg">Download</a>
            </td>
            <td>
              <a href="#" class="gif">Download</a>
            </td>
            <td class="disabled"></td>
          </tr>
          <tr class="panel panel-default">
            <th class="panel-heading">Website<br><span class="meta">??? X ???</span></th>
            <td>
              <a href="#" class="png">Download @1x</a><br>
              <a href="#" class="png">Download @2x</a>
            </td>
            <td>
              <a href="#" class="svg">Download</a>
            </td>
            <td class="disabled"></td>
            <td class="disabled"></td>
            <td class="disabled"></td>
          </tr>
          <tr class="panel panel-default">
            <th class="panel-heading">Twitter<br><span class="meta">???</span></th>
            <td>
              <a href="#" class="png">Download</a>
            </td>
            <td class="disabled"></td>
            <td>
              <a href="#" class="jpg">Download</a>
            </td>
            <td>
              <a href="#" class="gif">Download</a>
            </td>
            <td class="disabled"></td>
          </tr>
          <tr class="panel panel-default">
            <th class="panel-heading">LinkedIn<br><span class="meta">???</span></th>
            <td>
              <a href="#" class="png">Download</a>
            </td>
            <td class="disabled"></td>
            <td>
              <a href="#" class="jpg">Download</a>
            </td>
            <td>
              <a href="#" class="gif">Download</a>
            </td>
            <td class="disabled"></td>
          </tr>
          <tr class="panel panel-default">
            <th class="panel-heading">Facebook<br><span class="meta">???</span></th>
            <td>
              <a href="#" class="png">Download</a>
            </td>
            <td class="disabled"></td>
            <td>
              <a href="#" class="jpg">Download</a>
            </td>
            <td>
              <a href="#" class="gif">Download</a>
            </td>
            <td class="disabled"></td>
          </tr>
          <tr class="panel panel-default">
            <th class="panel-heading">Instagram<br><span class="meta">???</span></th>
            <td>
              <a href="#" class="png">Download</a>
            </td>
            <td class="disabled"></td>
            <td>
              <a href="#" class="jpg">Download</a>
            </td>
            <td>
              <a href="#" class="gif">Download</a>
            </td>
            <td class="disabled"></td>
          </tr>
          <tr class="panel panel-default">
            <th class="panel-heading">Favicon<br><span class="meta">16px X 16px <em>and</em> 32px X 32px for HiDPI</span></th>
            <td colspan="5">
              <a href="#" class="png">Download ICO</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <hr>
    <div class="clearfix title-block">
      <h4 class="bare pull-left">Full logo, dark on light (use only when required)</h4>
      <a href="#" class="pull-right showhide"><span class="glyphicon glyphicon-plus-sign"></span> Download Options</a>
      <br><img src="example.png" class="example-img">
    </div>

    <div class="showhide-container">
      <table cellpadding="0" cellspacing="0" border="1" class="logo-table">
        <thead class="panel panel-default">
          <tr class="panel-heading">
            <th></th>
            <th>PNG<br><span class="meta">Raster. Use for the <strong>web</strong>, or when transparency is required.</span></th>
            <th>SVG<br><span class="meta">Vector. Best option for the <strong>web</strong> <a href="http://caniuse.com/#feat=svg">when supported</a>.</span></th>
            <th>JPG<br><span class="meta">Raster. Use for the <strong>web</strong> only when required.</span></th>
            <th>GIF<br><span class="meta">Raster. Use for <strong>HTML email</strong> only.</span></th>
            <th>EPS<br><span class="meta">Vector. Use for any <strong>print</strong> collateral.</span></th>
          </tr>
        </thead>
        <tbody>
          <tr class="panel panel-default">
            <th class="panel-heading">Small<br><span class="meta">480px X ??</span></th>
            <td>
              <a href="#" class="png">Download</a>
            </td>
            <td>
              <a href="#" class="svg">Download</a>
            </td>
            <td>
              <a href="#" class="jpg">Download</a>
            </td>
            <td>
              <a href="#" class="gif">Download</a>
            </td>
            <td>
              <a href="#" class="eps">Download</a>
            </td>
          </tr>
          <tr class="panel panel-default">
            <th class="panel-heading">Medium<br><span class="meta">800px X ??</span></th>
            <td>
              <a href="#" class="png">Download</a>
            </td>
            <td class="disabled"></td>
            <td>
              <a href="#" class="jpg">Download</a>
            </td>
            <td>
              <a href="#" class="gif">Download</a>
            </td>
            <td class="disabled"></td>
          </tr>
          <tr class="panel panel-default">
            <th class="panel-heading">Large<br><span class="meta">1200px X ??</span></th>
            <td>
              <a href="#" class="png">Download</a>
            </td>
            <td class="disabled"></td>
            <td>
              <a href="#" class="jpg">Download</a>
            </td>
            <td>
              <a href="#" class="gif">Download</a>
            </td>
            <td class="disabled"></td>
          </tr>
          <tr class="panel panel-default">
            <th class="panel-heading">Website<br><span class="meta">??? X ???</span></th>
            <td>
              <a href="#" class="png">Download @1x</a><br>
              <a href="#" class="png">Download @2x</a>
            </td>
            <td>
              <a href="#" class="svg">Download</a>
            </td>
            <td class="disabled"></td>
            <td class="disabled"></td>
            <td class="disabled"></td>
          </tr>
          <tr class="panel panel-default">
            <th class="panel-heading">Twitter<br><span class="meta">???</span></th>
            <td>
              <a href="#" class="png">Download</a>
            </td>
            <td class="disabled"></td>
            <td>
              <a href="#" class="jpg">Download</a>
            </td>
            <td>
              <a href="#" class="gif">Download</a>
            </td>
            <td class="disabled"></td>
          </tr>
          <tr class="panel panel-default">
            <th class="panel-heading">LinkedIn<br><span class="meta">???</span></th>
            <td>
              <a href="#" class="png">Download</a>
            </td>
            <td class="disabled"></td>
            <td>
              <a href="#" class="jpg">Download</a>
            </td>
            <td>
              <a href="#" class="gif">Download</a>
            </td>
            <td class="disabled"></td>
          </tr>
          <tr class="panel panel-default">
            <th class="panel-heading">Facebook<br><span class="meta">???</span></th>
            <td>
              <a href="#" class="png">Download</a>
            </td>
            <td class="disabled"></td>
            <td>
              <a href="#" class="jpg">Download</a>
            </td>
            <td>
              <a href="#" class="gif">Download</a>
            </td>
            <td class="disabled"></td>
          </tr>
          <tr class="panel panel-default">
            <th class="panel-heading">Instagram<br><span class="meta">???</span></th>
            <td>
              <a href="#" class="png">Download</a>
            </td>
            <td class="disabled"></td>
            <td>
              <a href="#" class="jpg">Download</a>
            </td>
            <td>
              <a href="#" class="gif">Download</a>
            </td>
            <td class="disabled"></td>
          </tr>
          <tr class="panel panel-default">
            <th class="panel-heading">Favicon<br><span class="meta">16px X 16px <em>and</em> 32px X 32px for HiDPI</span></th>
            <td colspan="5">
              <a href="#" class="png">Download ICO</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <hr>
    <div class="clearfix title-block">
      <h4 class="bare pull-left">Logomark, dark on light (use only when required)</h4>
      <a href="#" class="pull-right showhide"><span class="glyphicon glyphicon-plus-sign"></span> Download Options</a>
      <br><img src="example.png" class="example-img">
    </div>

    <div class="showhide-container">
      <table cellpadding="0" cellspacing="0" border="1" class="logo-table">
        <thead class="panel panel-default">
          <tr class="panel-heading">
            <th></th>
            <th>PNG<br><span class="meta">Raster. Use for the <strong>web</strong>, or when transparency is required.</span></th>
            <th>SVG<br><span class="meta">Vector. Best option for the <strong>web</strong> <a href="http://caniuse.com/#feat=svg">when supported</a>.</span></th>
            <th>JPG<br><span class="meta">Raster. Use for the <strong>web</strong> only when required.</span></th>
            <th>GIF<br><span class="meta">Raster. Use for <strong>HTML email</strong> only.</span></th>
            <th>EPS<br><span class="meta">Vector. Use for any <strong>print</strong> collateral.</span></th>
          </tr>
        </thead>
        <tbody>
          <tr class="panel panel-default">
            <th class="panel-heading">Small<br><span class="meta">480px X ??</span></th>
            <td>
              <a href="#" class="png">Download</a>
            </td>
            <td>
              <a href="#" class="svg">Download</a>
            </td>
            <td>
              <a href="#" class="jpg">Download</a>
            </td>
            <td>
              <a href="#" class="gif">Download</a>
            </td>
            <td>
              <a href="#" class="eps">Download</a>
            </td>
          </tr>
          <tr class="panel panel-default">
            <th class="panel-heading">Medium<br><span class="meta">800px X ??</span></th>
            <td>
              <a href="#" class="png">Download</a>
            </td>
            <td class="disabled"></td>
            <td>
              <a href="#" class="jpg">Download</a>
            </td>
            <td>
              <a href="#" class="gif">Download</a>
            </td>
            <td class="disabled"></td>
          </tr>
          <tr class="panel panel-default">
            <th class="panel-heading">Large<br><span class="meta">1200px X ??</span></th>
            <td>
              <a href="#" class="png">Download</a>
            </td>
            <td class="disabled"></td>
            <td>
              <a href="#" class="jpg">Download</a>
            </td>
            <td>
              <a href="#" class="gif">Download</a>
            </td>
            <td class="disabled"></td>
          </tr>
          <tr class="panel panel-default">
            <th class="panel-heading">Website<br><span class="meta">??? X ???</span></th>
            <td>
              <a href="#" class="png">Download @1x</a><br>
              <a href="#" class="png">Download @2x</a>
            </td>
            <td>
              <a href="#" class="svg">Download</a>
            </td>
            <td class="disabled"></td>
            <td class="disabled"></td>
            <td class="disabled"></td>
          </tr>
          <tr class="panel panel-default">
            <th class="panel-heading">Twitter<br><span class="meta">???</span></th>
            <td>
              <a href="#" class="png">Download</a>
            </td>
            <td class="disabled"></td>
            <td>
              <a href="#" class="jpg">Download</a>
            </td>
            <td>
              <a href="#" class="gif">Download</a>
            </td>
            <td class="disabled"></td>
          </tr>
          <tr class="panel panel-default">
            <th class="panel-heading">LinkedIn<br><span class="meta">???</span></th>
            <td>
              <a href="#" class="png">Download</a>
            </td>
            <td class="disabled"></td>
            <td>
              <a href="#" class="jpg">Download</a>
            </td>
            <td>
              <a href="#" class="gif">Download</a>
            </td>
            <td class="disabled"></td>
          </tr>
          <tr class="panel panel-default">
            <th class="panel-heading">Facebook<br><span class="meta">???</span></th>
            <td>
              <a href="#" class="png">Download</a>
            </td>
            <td class="disabled"></td>
            <td>
              <a href="#" class="jpg">Download</a>
            </td>
            <td>
              <a href="#" class="gif">Download</a>
            </td>
            <td class="disabled"></td>
          </tr>
          <tr class="panel panel-default">
            <th class="panel-heading">Instagram<br><span class="meta">???</span></th>
            <td>
              <a href="#" class="png">Download</a>
            </td>
            <td class="disabled"></td>
            <td>
              <a href="#" class="jpg">Download</a>
            </td>
            <td>
              <a href="#" class="gif">Download</a>
            </td>
            <td class="disabled"></td>
          </tr>
          <tr class="panel panel-default">
            <th class="panel-heading">Favicon<br><span class="meta">16px X 16px <em>and</em> 32px X 32px for HiDPI</span></th>
            <td colspan="5">
              <a href="#" class="png">Download ICO</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <hr>
    <div class="clearfix title-block">
      <h4 class="bare pull-left">Stacked logo, dark on light (use only when required)</h4>
      <a href="#" class="pull-right showhide"><span class="glyphicon glyphicon-plus-sign"></span> Download Options</a>
      <br><img src="example.png" class="example-img">
    </div>

    <div class="showhide-container">
      <table cellpadding="0" cellspacing="0" border="1" class="logo-table">
        <thead class="panel panel-default">
          <tr class="panel-heading">
            <th></th>
            <th>PNG<br><span class="meta">Raster. Use for the <strong>web</strong>, or when transparency is required.</span></th>
            <th>SVG<br><span class="meta">Vector. Best option for the <strong>web</strong> <a href="http://caniuse.com/#feat=svg">when supported</a>.</span></th>
            <th>JPG<br><span class="meta">Raster. Use for the <strong>web</strong> only when required.</span></th>
            <th>GIF<br><span class="meta">Raster. Use for <strong>HTML email</strong> only.</span></th>
            <th>EPS<br><span class="meta">Vector. Use for any <strong>print</strong> collateral.</span></th>
          </tr>
        </thead>
        <tbody>
          <tr class="panel panel-default">
            <th class="panel-heading">Small<br><span class="meta">480px X ??</span></th>
            <td>
              <a href="#" class="png">Download</a>
            </td>
            <td>
              <a href="#" class="svg">Download</a>
            </td>
            <td>
              <a href="#" class="jpg">Download</a>
            </td>
            <td>
              <a href="#" class="gif">Download</a>
            </td>
            <td>
              <a href="#" class="eps">Download</a>
            </td>
          </tr>
          <tr class="panel panel-default">
            <th class="panel-heading">Medium<br><span class="meta">800px X ??</span></th>
            <td>
              <a href="#" class="png">Download</a>
            </td>
            <td class="disabled"></td>
            <td>
              <a href="#" class="jpg">Download</a>
            </td>
            <td>
              <a href="#" class="gif">Download</a>
            </td>
            <td class="disabled"></td>
          </tr>
          <tr class="panel panel-default">
            <th class="panel-heading">Large<br><span class="meta">1200px X ??</span></th>
            <td>
              <a href="#" class="png">Download</a>
            </td>
            <td class="disabled"></td>
            <td>
              <a href="#" class="jpg">Download</a>
            </td>
            <td>
              <a href="#" class="gif">Download</a>
            </td>
            <td class="disabled"></td>
          </tr>
          <tr class="panel panel-default">
            <th class="panel-heading">Website<br><span class="meta">??? X ???</span></th>
            <td>
              <a href="#" class="png">Download @1x</a><br>
              <a href="#" class="png">Download @2x</a>
            </td>
            <td>
              <a href="#" class="svg">Download</a>
            </td>
            <td class="disabled"></td>
            <td class="disabled"></td>
            <td class="disabled"></td>
          </tr>
          <tr class="panel panel-default">
            <th class="panel-heading">Twitter<br><span class="meta">???</span></th>
            <td>
              <a href="#" class="png">Download</a>
            </td>
            <td class="disabled"></td>
            <td>
              <a href="#" class="jpg">Download</a>
            </td>
            <td>
              <a href="#" class="gif">Download</a>
            </td>
            <td class="disabled"></td>
          </tr>
          <tr class="panel panel-default">
            <th class="panel-heading">LinkedIn<br><span class="meta">???</span></th>
            <td>
              <a href="#" class="png">Download</a>
            </td>
            <td class="disabled"></td>
            <td>
              <a href="#" class="jpg">Download</a>
            </td>
            <td>
              <a href="#" class="gif">Download</a>
            </td>
            <td class="disabled"></td>
          </tr>
          <tr class="panel panel-default">
            <th class="panel-heading">Facebook<br><span class="meta">???</span></th>
            <td>
              <a href="#" class="png">Download</a>
            </td>
            <td class="disabled"></td>
            <td>
              <a href="#" class="jpg">Download</a>
            </td>
            <td>
              <a href="#" class="gif">Download</a>
            </td>
            <td class="disabled"></td>
          </tr>
          <tr class="panel panel-default">
            <th class="panel-heading">Instagram<br><span class="meta">???</span></th>
            <td>
              <a href="#" class="png">Download</a>
            </td>
            <td class="disabled"></td>
            <td>
              <a href="#" class="jpg">Download</a>
            </td>
            <td>
              <a href="#" class="gif">Download</a>
            </td>
            <td class="disabled"></td>
          </tr>
          <tr class="panel panel-default">
            <th class="panel-heading">Favicon<br><span class="meta">16px X 16px <em>and</em> 32px X 32px for HiDPI</span></th>
            <td colspan="5">
              <a href="#" class="png">Download ICO</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </section>

  <section>
    <h2 id="colors">Color Palette</h2>
    <p>

    </p>
  </section>

  <section>
    <h2 id="typography">Typography</h2>
    <p>
      Use no more than 2 typefaces in any given piece of collateral (print or web).
    </p>

    <h3>Headline copy</h3>
    <p>
      <strong>GOTHAM LIGHT</strong>. All caps, with line-height / leading that is
      200% larger than the type size. For instance, if you're setting a headline
      at 48px, the leading should be 96px.
    </p>
    <a href="#" class="btn btn-default">Download Gotham *</a><br>
    * Don't share outside TC

    <h3>Body copy</h3>
    <p>
    <strong>Sentinel book</strong>. Normal caps, and the line-height is 1.5x the
    point size. For instance, the default size on the website is 18px large, with
    a line height of 27px.
    </p>

    <a href="#" class="btn btn-default">Download Sentinel *</a><br>
    * Don't share outside TC
  </section>

  <section>
    <h2 id="iconography">Iconography</h2>
    <p>TBD&hellip;</p>
  </section>

  <section>
    <h2 id="photography">Photography</h2>
    <p>TBD&hellip;</p>
  </section>
  
  <section>
    <h2 id="illustration">Illustration</h2>
    <p>TBD&hellip;</p>
  </section>

</div>
<div class="col-sm-2" role="complementary">
  <nav class="affix">
    <ul class="nav">
      <li class="active"><a href="#logo">Logo</a></li>
      <li><a href="#colors">Color Palette</a></li>
      <li><a href="#typography">Typography</a></li>
      <li><a href="#iconography">Iconography</a></li>
      <li><a href="#photography">Photography</a></li>
      <li><a href="#illustration">Illustration</a></li>
    </ul>
  </nav>
</div>

{% endblock %}

{% block javascript %}
  <script type="text/javascript" src="javascripts/tradecraft_brand.js"></script>
{% endblock %}