<div class="col-md-9" role="main">
  <h1>Tradecraft brand v2.0</h1>
  <p class="help-block">Last updated 6/10/2015</p>

  <hr>

  <h2 id="logo">Logo</h2>
  <p>
    Here are some options for logos. To use, <strong>right click &gt; save as</strong>.
  </p>

  <h3>Social profile logos</h3>
  <h4>Twitter</h4>
  <h4>LinkedIn</h4>
  <h4>Facebook</h4>
  <h4>Instagram</h4>
  <h4>TC website @1x</h4>
  <h4>TC website @2x</h4>
  <h4>TC favicon (16px, 24px)</h4>
  <h4>Small (480px)</h4>
  <h4>Medium (800px)</h4>
  <h4>Large (1200px)</h4>

  <h3>General Use</h3>
  <h4>Light on Dark</h4>
  Primarily, use the light on dark color scheme.
  <ul>
    <li>PNG: small, medium, large</li>
    <li>JPG: small, medium, large</li>
    <li>SVG: small, medium, large</li>
    <li>GIF: small, medium, large</li>
    <li>EPS (use for print)</li>
  </ul>

  <h4>Dark on Light</h4>
  Only use in some circumstances when required.

  <ul>
    <li>PNG: small, medium, large</li>
    <li>JPG: small, medium, large</li>
    <li>SVG: small, medium, large</li>
    <li>GIF: small, medium, large</li>
    <li>EPS (use for print)</li>
  </ul>

  <hr>

  <h2 id="colors">Color Palette</h2>
  <p>

  </p>

  <hr>

  <h2 id="typography">Typography</h2>
  <p>
    Use no more than 2 typefaces in any given piece of collateral (print or web).
  </p>

  <h3>Headline copy</h3>
  <p>
    <strong>GOTHAM LIGHT</strong>. All caps, with line-height / leading that is 
    200% larger than the type size. For instance, if you're setting a headline
    at 48px, the leading should be 96px.
  </p>
  <a href="#" class="btn btn-default">Download Gotham *</a><br>
  * Don't share outside TC

  <h3>Body copy</h3>
  <p>
  <strong>Sentinel book</strong>. Normal caps, and the line-height is 1.5x the
  point size. For instance, the default size on the website is 18px large, with
  a line height of 27px.
  </p>

  <a href="#" class="btn btn-default">Download Sentinel *</a><br>
  * Don't share outside TC

  <hr>

  <h2 id="iconography">Iconography</h2>

  <hr>
  
  <h2 id="photography">Photography</h2>

  <hr>
  
  <h2 id="illustration">Illustration</h2>

</div>
<div class="col-md-3" role="complementary">
  <ul>
    <li><a href="#logo">Logo</a></li>
    <li><a href="#colors">Color Palette</a></li>
    <li><a href="#typography">Typography</a></li>
    <li><a href="#iconography">Iconography</a></li>
    <li><a href="#photography">Photography</a></li>
    <li><a href="#illustration">Illustration</a></li>
  </ul>
</div>