<html>
    <head>
        <title>
            My page
        </title>
        <style>
            h1 {
                font-family: arial;
                color: #000088;
                background-color: rgba(200,255,200,0.5);
            }
            #mr_snuggles {
                border: solid blue 10px;
            }
            .catbox {
                float:left;
                padding: 10px 10px 10px 10px;
            }
        </style>
    </head>
    <body>
        <h1>
            This is a header - the biggest one
        </h1>
        <p> 
            This is a paragraph
        </p>
        <ul>
            <li>This is a list item</li>
            <li>And here is another</li>
            <li>Fish</li>
        </ul>
        <div class="catbox">
            <img src="http://placekitten.com/300/300" id="ms_von_cuten">
            <p>Ms Von Cuten</p>
        </div>
        <div class="catbox">
            <img src="http://placekitten.com/200/400" id="mr_snuggles">
            <p>Mister Snuggles </p>
        </div>
        <div class="catbox">
            <img src="http://placekitten.com/300/500" id="professor_buttonsworth">
            <p>Professor Buttonsworth</p>
        </div>
    </body>
</html>