{% extends "layouts/main.html" %}

{% block body %}
	<h1><a href="/curriculum/{{data.unit.subject._id}}">{{data.unit.subject.subject}}</a></h1>
		<div class="row">
			<div class="col-md-6">
				<h2>{{data.unit.name}}</h2>
				{% if user.isInstructor() %}
				<a class="btn btn-success btn-sm" href="/units/new">New</a>
				<a class="btn btn-primary btn-sm" href="/units/{{data.unit._id}}?edit=true">Edit</a>
				<a class="btn btn-primary btn-sm" href="/units/{{data.unit._id}}?publish=true">Publish</a>
				<a class="btn btn-warning btn-sm" href="/units/{{data.unit._id}}?publish=false">Unpublish</a>
				{% endif %}
			</div>
			{% if data.unit.gif %}
			<div class="col-md-6">
				<img src="{{data.unit.gif}}">
			</div>
			{% endif %}
		</div>
		<div class="row">
			<div class="col-md-6">
				<h3>Overview</h3>
				<div class="container">{{data.unit.overview}}</div>
			</div>
			<div class="col-md-6">
				<h3>Prerequisites</h3>
				<div class="list-group">
				{% for d in data.unit.dependencies %}
					<a class="list-group-item" href="/curriculum/units/{{d._id}}">{{d.subject}}</a>
				{% endfor %}
				</div>

				<div class="list-group">
				<h3>Resources</h3>
				{% for r in data.unit.resources %}
						<a class="list-group-item" href="{{r.link}}">{{r.linkText}}</a>
				{% endfor %}
				</div>

				<div class="list-group">
				<h3>Examples</h3>
				{% for e in data.unit.examples %}
						<a class="list-group-item" href="{{e.link}}">{{e.linkText}}</a>
				{% endfor %}
				</div>

				<div class="list-group">
				<h3>Assignments</h3>
				{% for a in data.unit.assignments %}
						<a class="list-group-item" href="/assignments/{{a._id}}">{{a.title}}</a>
				{% endfor %}
				</div>
			</div>
		</div>

{% endblock %}