{% extends "layouts/main.html" %}

{% block body %}
<h1>{{data.curricula.subject}}</h1>
<form class="form" id="newSubject" action="/curriculum/{{data.curricula._id}}" method="POST">
	<button class="btn btn-success">Save</button>

	<div class="form-group">
	    <label for="new_subject_name">Subject:</label>
	    <input type="text" class="form-control" required id="new_subject_name" value="{{data.curricula.subject}}" autofocus name="subject">
	</div>

	<div class="form-group">
	    <label for="overview">Overview:</label>
	    <textarea class="form-control" name="overview" id="overview" rows="3">{{data.curricula.overview}}</textarea>
	</div>

	<h3>Units</h3>
	<div id="units" class="row"></div>
	<a id="add_units" class="btn btn-success btn-lg" data-toggle="modal" data-target="#unitModal">
		<span class="glyphicon glyphicon-plus"></span> Add Units
	</a>

	<div class="form-group">
	    <label for="dependancies">Dependencies:</label>
	    <select multiple class="form-control" name="dependencies" id="dependencies">
		    {% for c in data.curriculum %}
				<option value="optDependency_{{c.id}}">{{c.subject}}</option>
			{% endfor %}
		</select>
	</div>

	<h3>Resources</h3>
	<div id="resources" class="row">
	</div>
	<a id="new_resource" class="btn btn-success btn-lg" data-toggle="modal" data-target="#resourceModal">
		Add Resource
	</a>

	<h3>Examples</h3>
	<div id="examples" class="row">
	</div>
	<a id="new_example" class="btn btn-success btn-lg" data-toggle="modal" data-target="#exampleModal">
		Add Example
	</a>

	<h3>Related Assignments</h3>
	<p>This just ties together assignments you might want to assign students if you do this topic.</p>
	<div id="assignments">
		<select multiple class="form-control" name="assignments" >
			{% for assignment in data.assignments %}
				<option value="optAssignment_{{assignment._id}}" {% if data.curricula.assignments.indexOf(assignment._id) > -1 %} selected="true" {%endif%}>{{assignment.title}}</option>
			{% endfor %}
		</select>
	</div>


	<div class="form-group">
	    <label for="new_subject_name">Awesome Gif:</label>
	    <p>Every curriculum is better with an awesome gif. Find or make one and it will appear to the side of the title.</p>
	    <input type="url" class="form-control" id="gif_link" placeholder="Gif Link Here" name="gif">
	</div>
</form>






<!-- Modal -->
<div class="modal fade" id="unitModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    	<div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	        	<span aria-hidden="true">&times;</span>
	        </button>
	        <ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active">
					<a href="#modalUnitAddExisting" aria-controls="modalUnitAddExisting" role="tab" data-toggle="tab" id="existingUnitTab">
						<h4 class="modal-title">Add Existing</h4>
					</a>
				</li>
				<li role="presentation">
					<a href="#modalNewUnit" aria-controls="modalNewUnit" role="tab" data-toggle="tab" id="newUnitTab">
						<h4 class="modal-title">New Unit</h4>
					</a>
				</li>
				<li role="presentation">
					<a href="#modalOtherTracks" aria-controls="modalOtherTracks" role="tab" data-toggle="tab">
						<h4 class="modal-title">Other Tracks' Units</h4>
					</a>
				</li>
			</ul>
        
    	</div>
		<div class="modal-body" id="modalUnitBody">
		    <div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="modalUnitAddExisting">
				</div>
				<div role="tabpanel" class="tab-pane" id="modalNewUnit">
					<form class="form" id="newUnit" action="/units/" method="POST">
						<button class="btn btn-primary" id="unitSave" data-dismiss="modal">Add Unit</button>
						{% include 'curriculum/units/new_form.html' %}
					</form>
				</div>
				<div role="tabpanel" class="tab-pane" id="modalOtherTracks">...</div>
			</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="addUnits" data-dismiss="modal">Add Unit</button>
      </div>
    </div>
  </div>
</div>

<script class="hide" id="newResourceForm" type="xx-template/underscore">
{% include "resources/new.html" %}
</script>

<script class="hide" id="resourceTemplate" type="xx-template/underscore">
{% include "resources/show.html" %}
</script>

<script class="hide" id="newExampleForm" type="xx-template/underscore">
{% include "examples/new.html" %}
</script>

<script class="hide" id="exampleTemplate" type="xx-template/underscore">
{% include "examples/show.html" %}
</script>

<script class="hide" id="unitTemplate" type="xx-template/underscore">
	<div class="panel panel-default">
		<div class="panel-heading">
			<button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h3 class="panel-title"><%=name %></h3>
		</div>
		<div class="panel-body">
			<input name="units" type="hidden" value="<%=_id%>">
			<div class="panel-body">
				<p><%=overview.slice(0,50) %> ...</p>
			</div>
		</div>
	</div>
</script>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/javascripts/units.js"></script>
<script type="text/javascript" src="/javascripts/resources.js"></script>
<script type="text/javascript" src="/javascripts/examples.js"></script>
<script type="text/javascript">


//Resources
var resources = new Resources();

$("#new_resource").on("click", function(e) {
	var newForm = new NewResourceFormView({collection: resources});
	newForm.render();
	$("#resources").prepend(newForm.$el)
});


//Examples
var examples = new Examples();

$("#new_example").on("click", function(e) {
	var newForm = new NewExampleFormView({collection: examples});
	newForm.render();
	$("#examples").prepend(newForm.$el);
});


//Seperate instance for the new unit form
//Resources
var unitResources = new Resources();

$("#new_unit_resource").on("click", function(e) {
	var newForm = new NewResourceFormView({collection: unitResources});
	newForm.collectionLocation = "#unitResources";
	newForm.render();
	$("#unitResources").prepend(newForm.$el);
});


//Examples
var unitExamples = new Examples();

$("#new_unit_example").on("click", function(e) {
	var newForm = new NewExampleFormView({collection: unitExamples});
	newForm.collectionLocation = "#unitExamples";
	newForm.render();
	$("#unitExamples").prepend(newForm.$el);
});

//Dynamically populate resources and examples

{% for r in data.curricula.resources %}
	resources.add(new Resource({"_id": "{{r._id}}", link:"{{r.link}}", "linkText": "{{r.linkText}}"}));
{% endfor %}
var resourceCollectionView = new ResourceCollectionView({collection: resources});
resourceCollectionView.render();
$('#resources').append(resourceCollectionView.$el);

{% for e in data.curricula.examples %}
	examples.append(new Example({"_id": "{{e._id}}", link:"{{e.link}}", "linkText": "{{e.linkText}}"}));
{% endfor %}
var exampleCollectionView = new ExampleCollectionView({collection: examples});
exampleCollectionView.render();
$('#examples').append(exampleCollectionView.$el);

{% for a in data.curricula.assignments %}
	$("#optAssignment_{{a._id}}").attr("selected", true)
{% endfor %}

{% for a in data.curricula.dependencies %}
	$("#optDependency_{{a._id}}").attr("selected", true)
{% endfor %}

//Instances
var allUnits = new Units();
var unitsView = new UnitCollectionView({collection: allUnits});
allUnits.fetch({ 
	success : function(err, results) {
		allUnits.add(results);
		unitsView.render();
	},
	error: function(err) {
		console.log("oh no, ", err);
	}
});

//On the edit page, we'll need add a "selectedUnits" thing that is populated server-side
var selectedUnits = new Units();
{% for u in data.curricula.units %}
	selectedUnits.add({name: "{{u.name}}", _id: "{{u._id}}", overview: "{{u.overview}}"});
{% endfor %}
var selectedUnitsView = new UnitCollectionView({collection: selectedUnits});
selectedUnitsView.render();
$("#units").html(selectedUnitsView.$el);

$("#unitModal").on('show.bs.modal', function(e) {
	$("#modalUnitBody").append(unitsView.$el);
});

$("#addUnits").on("click", function(e) {
	var selectedUnitsView = new UnitCollectionView({collection: selectedUnits});
	
	$("#modalUnitBody .panel-info input").each(function(i, e) {
		var id = $(e).val();
		var u = allUnits.where({'_id': id});
		selectedUnits.add(u);
	});

	selectedUnitsView.render();
	$("#units").html(selectedUnitsView.$el);
	
});

</script>

{% endblock %}