{% extends "layouts/main.html" %}

{% block body %}
<h1>{{data.curricula.subject}}</h1>
<form class="form" id="newSubject" action="/curriculum/{{data.curricula._id}}" method="POST">
	<button class="btn btn-success">Save</button>

	<div class="form-group">
	    <label for="new_subject_name">Subject:</label>
	    <input type="text" class="form-control" required id="new_subject_name" value="{{data.curricula.subject}}" autofocus name="subject">
	</div>

	<div class="form-group">
	    <label for="overview">Overview:</label>
	    <textarea class="form-control" name="overview" id="overview" rows="3">{{data.curricula.overview}}</textarea>
	</div>

	<div class="form-group">
	    <label for="dependancies">Dependencies:</label>
	    <select multiple class="form-control" name="dependencies" id="dependencies">
		    {% for c in data.curriculum %}
				<option value="{{c.id}}">{{c.subject}}</option>
			{% endfor %}
		</select>
	</div>

	<h3>Resources</h3>
	<div id="resources" class="row">
	</div>
	<a id="new_resource" class="btn btn-success btn-lg" data-toggle="modal" data-target="#resourceModal">
		Add Resource
	</a>

	<h3>Examples</h3>
	<div id="examples" class="row">
	</div>
	<a id="new_example" class="btn btn-success btn-lg" data-toggle="modal" data-target="#exampleModal">
		Add Example
	</a>

	<h3>Related Assignments</h3>
	<p>This just ties together assignments you might want to assign students if you do this topic.</p>
	<div id="assignments">
		<select multiple class="form-control" name="assignments" >
			{% for assignment in data.assignments %}
				<option value="{{assignment._id}}" {% if data.curricula.assignments.indexOf(assignment._id) > -1 %} selected="true" {%endif%}>{{assignment.title}}</option>
			{% endfor %}
		</select>
	</div>


	<div class="form-group">
	    <label for="new_subject_name">Awesome Gif:</label>
	    <p>Every curriculum is better with an awesome gif. Find or make one and it will appear to the side of the title.</p>
	    <input type="url" class="form-control" id="gif_link" placeholder="Gif Link Here" name="gif">
	</div>
</form>



<!-- Modal -->
<div class="modal fade" id="resourceModal" tabindex="-1" role="dialog" aria-labelledby="modalResourceTitle">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modalResourceTitle">New Resource</h4>
      </div>
      <div class="modal-body">
        <div class="form-group form-inline">
		    <input type="url" class="form-control form-inline" id="resource" placeholder="Link" >
		    <input type="text" class="form-control form-inline" id="resource-text" placeholder="Link Text">
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="saveResource" data-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="modalExampleTitle">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modalExampleTitle">New Example</h4>
      </div>
      <div class="modal-body">
        <div class="form-group form-inline">
		    <input type="url" class="form-control form-inline" id="example" placeholder="Link">
		    <input type="text" class="form-control form-inline" id="example-text" placeholder="Link Text">
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="saveExample" data-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
//Dynamically populate resources and examples

{% for r in data.curricula.resources %}
	$("#resources").append(newResource({"_id": "{{r._id}}", link:"{{r.link}}", "linkText": "{{r.linkText}}"}));
{% endfor %}

{% for e in data.curricula.examples %}
	$("#examples").append(newExample({"_id": "{{e._id}}", link:"{{e.link}}", "linkText": "{{e.linkText}}"}));
{% endfor %}

{% for a in data.curricula.assignments %}
	$("#optAssignment_{{a._id}}").attr("selected", true)
{% endfor %}

{% for a in data.curricula.dependencies %}
	$("#optDependency_{{a._id}}").attr("selected", true)
{% endfor %}


//Resources
$("#saveResource").on("click", function(e) {
	var form = {
		link: $("#resource").val(),
		linkText: $("#resource-text").val()
	}
	$.ajax({
		method: "POST",
		url: "/resources/new",
		data: form,
		success: function(data) {
			$("#resources").append(newResource(data));

		}
	});
});

$("#resourceModal").on("hidden.bs.modal", function(e) {
	$("#resource").val("");
	$("#resource-text").val("");
});

function newResource (data) {
	var div = $('<div class="col-md-2"></div>');
	var panel = $('<div class="panel panel-info"></div>');
	var closeButton = $('<button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>');
	var panelBody = $('<div class="panel-body">');
	var input = $('<input name="resources" type="hidden" value="'+data._id+'">');
	var label = $('<a href="'+data.link+'">'+ data.linkText +'</a>');
	panelBody.append(closeButton);
	panelBody.append(input);
	panelBody.append(label);
	panel.append(panelBody);
	div.append(panel)
	return div;
}


//Examples
$("#saveExample").on("click", function(e) {
	var form = {
		link: $("#example").val(),
		linkText: $("#example-text").val()
	}
	$.ajax({
		method: "POST",
		url: "/examples/new",
		data: form,
		success: function(data) {
			$("#examples").append(newExample(data));

		}
	});
});

$("#exampleModal").on("hidden.bs.modal", function(e) {
	$("#example").val("");
	$("#example-text").val("");
});

function newExample (data) {
	var div = $('<div class="col-md-2"></div>');
	var panel = $('<div class="panel panel-info"></div>');
	var closeButton = $('<button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>');
	var panelBody = $('<div class="panel-body">');
	var input = $('<input name="examples" type="hidden" value="'+data._id+'">');
	var label = $('<a href="'+data.link+'">'+ data.linkText +'</a>');
	panelBody.append(closeButton);
	panelBody.append(input);
	panelBody.append(label);
	panel.append(panelBody);
	div.append(panel)
	return div;
}
</script>

{% endblock %}