{% extends "layouts/main.html" %}

{% block body %}
<h1>{{thisCurriculum.subject}}</h1>
<form class="form" id="newSubject" action="/curriculum/new" method="POST">
	<button class="btn btn-success">Save</button>

	<div class="form-group">
	    <label for="new_subject_name">Subject:</label>
	    <input type="text" class="form-control" required id="new_subject_name" value="{{thisCurriculum.subject}}" autofocus name="subject">
	</div>

	<div class="form-group">
	    <label for="overview">Overview:</label>
	    <textarea class="form-control" name="overview" id="overview" rows="3">{{thisCurriculum.overview}}</textarea>
	</div>

	<div class="form-group">
	    <label for="dependancies">Dependencies:</label>
	    <select multiple class="form-control" name="dependencies" id="dependencies">
		    {% for c in curriculum %}
				<option value="{{c.id}}">{{c.subject}}</option>
			{% endfor %}
		</select>
	</div>

	<h3>Resources</h3>
	<div id="resources">
		<button id="new_resource" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></button>
		<div class="form-group" id="resource_1">
			<button class="delete_resource btn btn-danger"><span class="glyphicon glyphicon-remove"></span></button>
		    <input type="url" class="form-control form-inline" id="resource_1" placeholder="Link" name="resource_1">
		    <input type="text" class="form-control form-inline" id="resource-text_1" placeholder="Link Text" name="resource-text_1">
		</div>
	</div>

	<h3>Examples</h3>
	<div id="examples">
		<button id="new_example" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></button>
		<div class="form-group" id="example_1">
			<button id="delete_example" class="delete_example btn btn-danger"><span class="glyphicon glyphicon-remove"></span></button>
		    <input type="url" class="form-control form-inline" id="example_1" placeholder="Link" name="example_1">
		    <input type="text" class="form-control form-inline" id="example-text_1" placeholder="Link Text" name="example-text_1">
		</div>
	</div>

	<h3>Related Assignments</h3>
	<p>This just ties together assignments you might want to assign students if you do this topic.</p>
	<div id="assignments">
		<select multiple class="form-control" name="assignments" >
			<option>Assignment 1</option>
			<option>Assignment 2</option>
			<option>Assignment 3</option>
			<option>Assignment 4</option>
			<option>Assignment 5</option>
		</select>
	</div>


	<div class="form-group">
	    <label for="new_subject_name">Awesome Gif:</label>
	    <p>Every curriculum is better with an awesome gif. Find or make one and it will appear to the side of the title.</p>
	    <input type="url" class="form-control" required id="gif_link" placeholder="Gif Link Here" autofocus name="gif">
	</div>
</form>

{% endblock %}

{% block javascript %}
<script type="text/javascript">

	//Resources, event handlers and new dom element creation
	var resourceCount = ;
	$('#new_resource').on('click', function(e) {
		e.preventDefault();
		resourceCount++;
		$('#resources').append(newLinkGroup({name: 'resources', count: resourceCount}));

		$('.delete_resource').on('click', function(e) {
			e.preventDefault();
			resourceCount--;
			$(this).parent().remove();
		});
	});

	//setup from server-side data
	{% for r in thisCurriculum.resources %}
		$('#resources').html("") //empty first, since there is one there already
		$('#resources').append(newLinkGroup({name:'resource', count: resourceCount, }))
	{% endfor %}

	//After all the data-driven ones have been created bind click handlers
	$('.delete_resource').on('click', function(e) {
		e.preventDefault();
		resourceCount--;
		$(this).parent().remove();
	});

	//Examples, event handlers and new dom element creation
	var exampleCount = 1;
	$('#new_example').on('click', function(e) {
		e.preventDefault();
		exampleCount++;
		$('#examples').append(newLinkGroup({name: 'example', count: exampleCount}));

		$('.delete_example').on('click', function(e) {
			e.preventDefault();
			exampleCount--;
			$(this).parent().remove();
		});
	});

	//setup from server-side data
	{% for e in thisCurriculum.examples %}
		$('#examples').html("") //empty first, since there is one there already
		$('#examples').append(newLinkGroup({name:'example', exampleCount, }))
	{% endfor %}

	//After all the data-driven ones have been created bind click handlers
	$('.delete_example').on('click', function(e) {
		e.preventDefault();
		exampleCount--;
		$(this).parent().remove();
	});



	//Gives me a new link + link text and remove button
	function newLinkGroup (options) {
		if (options.link && options.linkText) {
			return $('<div class="form-group" id="'+options.name+ +options.count+'"><button class="delete'+options.name+' btn btn-danger"><span class="glyphicon glyphicon-remove"></span></button><input type="text" class="form-control form-inline" id="'+options.name+ +options.count+'" value="'+options.link+'" name="'+options.name+ +options.count+'"><input type="text" class="form-control form-inline" id="'+options.name+'-text_'+options.count+'" value="'+options.linkText+'" name="'+options.name+'-text_'+options.count+'"></div>')
		} else {
			return $('<div class="form-group" id="'+options.name+ +options.count+'"><button class="delete'+options.name+' btn btn-danger"><span class="glyphicon glyphicon-remove"></span></button><input type="text" class="form-control form-inline" id="'+options.name+ +options.count+'" placeholder="Link" name="'+options.name+ +options.count+'"><input type="text" class="form-control form-inline" id="'+options.name+'-text_'+options.count+'" placeholder="Link Text" name="'+options.name+'-text_'+options.count+'"></div>')
		}
		
	}

	//#TODO add an event to the urls(examples and resources) that make sure that there is link text (just add state required to the box when someone puts text into the field)
</script>

{% endblock %}