{% extends "layouts/main.html" %}

{% block body %}
<h1>New Subject</h1>
<form class="form" id="newSubject" action="/curriculum/new" method="POST">
	<button class="btn btn-success">Save</button>

	<div class="form-group">
	    <label for="new_subject_name">Subject:</label>
	    <input type="text" class="form-control" required id="new_subject_name" placeholder="New Subject" autofocus name="subject">
	</div>

	<div class="form-group">
	    <label for="overview">Overview:</label>
	    <textarea class="form-control" name="overview" id="overview" rows="3" placeholder="Summary of topic."></textarea>
	</div>

	<div class="form-group">
	    <label for="dependancies">Dependencies:</label>
	    <select multiple class="form-control" name="dependencies" id="dependencies">
		    {% for c in curriculum %}
				<option value="{{c._id}}">{{c.subject}}</option>
			{% endfor %}
		</select>
	</div>

	<h3>Resources</h3>
	<div id="resources">
		<button id="new_resource" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></button>
		<div class="form-group">
			<button class="delete_resource btn btn-danger"><span class="glyphicon glyphicon-remove"></span></button>
		    <input type="url" class="form-control form-inline" id="resource" placeholder="Link" name="resource">
		    <input type="text" class="form-control form-inline" id="resource-text" placeholder="Link Text" name="resource-text">
		</div>
	</div>

	<h3>Examples</h3>
	<div id="examples">
		<button id="new_example" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></button>
		<div class="form-group">
		    <input type="url" class="form-control form-inline" id="example" placeholder="Link" name="example">
		    <input type="text" class="form-control form-inline" id="example-text" placeholder="Link Text" name="example-text">
		</div>
	</div>

	<h3>Related Assignments</h3>
	<p>This just ties together assignments you might want to assign students if you do this topic.</p>
	<div id="assignments">
		<select multiple class="form-control" name="assignments">
		{% for assignment in assignments %}
			<option value="{{assignment._id}}">{{assignment.title}}</option>
		{% endfor %}
		</select>
	</div>


	<div class="form-group">
	    <label for="new_subject_name">Awesome Gif:</label>
	    <p>Every curriculum is better with an awesome gif. Find or make one and it will appear to the side of the title.</p>
	    <input type="url" class="form-control" id="gif_link" placeholder="Gif Link Here" name="gif">
	</div>
</form>

{% endblock %}

{% block javascript %}
<script type="text/javascript">

	//Resources
	$('#new_resource').on('click', function(e) {
		e.preventDefault();
		$('#resources').append('<div class="form-group" id="resource"><button class="delete_resource btn btn-danger"><span class="glyphicon glyphicon-remove"></span></button><input type="url" class="form-control form-inline" id="resource" placeholder="Link" name="resource"><input type="text" class="form-control form-inline" id="resource-text" placeholder="Link Text" name="resource-text"></div>');

		$('.delete_resource').on('click', function(e) {
			e.preventDefault();
			$(this).parent().remove();
		});
	});

	$('.delete_resource').on('click', function(e) {
		e.preventDefault();
		$(this).parent().remove();
	});

	//Examples
	$('#new_example').on('click', function(e) {
		e.preventDefault();
		$('#examples').append('<div class="form-group" id="example"><button class="delete_example btn btn-danger"><span class="glyphicon glyphicon-remove"></span></button><input type="url" class="form-control form-inline" id="example" placeholder="Link" name="example"><input type="text" class="form-control form-inline" id="example-text" placeholder="Link Text" name="example-text"></div>');

		$('.delete_example').on('click', function(e) {
			e.preventDefault();
			$(this).parent().remove();
		});
	});

	$('.delete_example').on('click', function(e) {
		e.preventDefault();
		$(this).parent().remove();
	});

</script>

{% endblock %}